body{
    margin: 0;
    padding: 0;
    background-color: #212121;
}
nav{
    height: 60px;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: antiquewhite;
    background-color: gray;
}
.main{
    color: antiquewhite;
    padding: 10% 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.clock{
    border: 2px solid black;
    border-radius: 15px;
    height: 60px;
    width: 150px;
    background-image: linear-gradient(to right , blue, purple, red);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    
    font-size: 170%;
}

